/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
  }
  @font-face {
    font-family: "Steppe-Book";
    src: url("./assets/fonts/Steppe-Book.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "Steppe-ExtraBold";
    src: url("./assets/fonts/Steppe-Book.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  body {
    background-color: #5243f4;
    font-family: "Steppe-Book", sans-serif;
    color: #fff;
  }
  
  .currency {
    position: fixed;
    right: 50px;
    bottom: 50px;
    border: 1px solid #fff;
    padding: 5px 10px;
    height: 25px;
    min-width: 25px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    line-height: 28px;
    z-index: 1;
    user-select: none;
    transform: scale(1);
    animation: puls 2s infinite;
  }
  
  @keyframes puls {
    0% {
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  
    }
    100% {
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  
    }
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .button {
    background-color: #fff;
    border-radius: 60px;
    width: 178px;
    height: 58px;
    box-sizing: border-box;
    padding: 18px;
    text-align: center;
    font-size: 18px;
    color: #5243f4;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  .violet-btn {
    background-color: #5243f4;
    color: #fff;
  }
  .button:disabled {
    cursor: not-allowed;
    color: gray;
    background-color: #343434;
  }
  .button:hover:not(:disabled) {
    background-color: #eeeeee;
  }
  .button.violet-btn:hover {
    background-color: #3b2cd8;
  }  
  .common-title {
    font-family: "Steppe-ExtraBold", sans-serif;
    font-size: 60px;
    line-height: 1;
    text-align: center;
  }